*.eml
*.msg
output.json
# Ignore virtual environment directories
.venv/
venv/
*/.venv
*/venv
__pycache__/
*/__pycache__
*.pyc

# Ignore environment variables
.env
.env/

# Ignore certificate and key files
*.pfx
*.der
*.crt
*.pem
*.log
.python_packages/
zArchive/*
*.png
test*.py